html,body {
    height: 100vh;
    background: linear-gradient(180deg, #191970, #431F4B);
    margin: 0;
    background-attachment: fixed;

}


nav a {
    white-space: nowrap;
}

nav{
    background-color: black;
    padding: 25px;
    width: auto;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20%;
    margin-left: 1px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    color: orange;
}

.cover_img img {
    height: auto;
    width: 100%;
}


h1 {
    padding: 10px;
    color: white;
    background: orange;
    border-radius: 100px;
    width: 25%;
    margin-top: 5%;
    margin-left: 15%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.description{
    display: flex;
}

.description p {
    margin-left: 50px;
}


.about_phone {
    margin-left: 50px;
    color: white;
    font-family: 'Montersat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.description .about_phone span {
    margin-left: 1%;
}
button{
    padding: 10px;
    color: white;
    background: orange;
    border-radius: 100px;
    width: 25%;
    margin-top: 5%;
    margin-left: 35%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
button:hover{
    color: black;
} 

.img_button {
    margin-left: 60%;
    margin-top: -20%;
}



.comments {
    margin-left: 10%;
    color: white;
    font-family: 'Montersat', sans-serif;
    display: flex;
}

.profil {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 8%;
}

.user-icon {
    font-size: 2em;
    color: #515b67;
}

.user_name {
    margin-left: 5px;
    color: rgb(168, 165, 165);
    font-family: serif;
    margin-top: 1px;
}

.user_comment {
    margin-left: 10%;
    margin-top: 0;
    color: #c2c8ce;
    font-family: Arial, Helvetica, sans-serif;
}

.input_comments {
    margin-left: 65%;
    color: white;
    font-family: 'Montersat', sans-serif;
    display: flex;
}

textarea {
    width: 310px;
    margin-left: 67%;
    /* border-radius: 10px; */
    height: auto;
}

.comment_section {
    margin-top: -12%;
}

.line {
    margin-top: 10%;
    width: 50%;
    color: #ab4282;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 3%;
    margin-left: 15%;
}

.footer-list li {
    list-style-type: none;
    margin: 0 50px;
    color: white;
    font-size: 16px;
    font-family: 'Montersat', sans-serif;
}

.footer-icon {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 3%;
    margin-left: 17%;

}

.footer-icon li {
    list-style-type: none;
    margin: 0 100px;
    font-size: 16px;
    font-family: 'Montersat', sans-serif;
}

.footer-icon i{
    background-color: white;
}