/* initialisation de la page pour tout les elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Les styles de bases de ma page */
body {
    /* gestion du texte, lisibilite et densite */
    line-height: 1.6;
}

section {
    padding: 20px;
}